* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --primary: #2c3e50;
  --secondary: #3498db;
  --accent: #e74c3c;
  --light: #ecf0f1;
  --dark: #2c3e50;
  --text: #333;
  --text-light: #777;
}
body {
  background-color: #f9f9f9;
  color: var(--text);
  line-height: 1.6;
}
.hero {
  background: linear-gradient(rgba(44, 62, 80, 0.8), rgba(44, 62, 80, 0.8)),
    url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-4.0.3")
      center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 5rem 2rem;
}
.hero-content {
  max-width: 800px;
  margin: 0 auto;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}

/* Catalog */
.Catalog-section{
    padding: 16px;
}

#catalog-heading {
  margin-bottom: 20px;
  font-size: 35px;
}

.search-area {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}

.search-area input {
  flex: 1;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.filter-btns button {
  padding: 10px 16px;
  border-radius: 10px;

  cursor: pointer;
  background: #ffffff;
  font-size: 17px;
  transition: 0.2s;
  color: rgb(0, 132, 255);
  border: 0.5px solid rgb(0, 132, 255);
}

.filter-btns button.active {
  background: linear-gradient(135deg, #ff9800, #ff5722);
  color: white;
  border: none;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.book-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.book-card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.book-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.book-meta {
  font-size: 14px;
  color: #666;
}

.book-card {
  transition: transform 0.2s ease;
  cursor: pointer;
  transform-origin: center;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card {
  overflow: hidden;
  transition: 0.25s ease;
  position: relative;
}

/* the hidden extra space at bottom */
.bottom-expand {
  height: 0px;
  transition: 0.25s ease;
}

/* expand only on hover */
.book-card:hover .bottom-expand {
  height: 40px;
}

.status-badge {
  margin-top: 10px;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
}

.status-available {
  background: #d4f8d4;
  color: #008a00;
}

.status-few {
  background: #fff3c4;
  color: #b68b00;
}

.status-out {
  background: #ffd4d4;
  color: #c70000;
}

.book-card {
  position: relative;
}

.fav-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border: none;
  font-size: 22px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
}

.book-card:hover .fav-btn {
  opacity: 1;
  pointer-events: auto;
}

.fav-btn.active {
  color: #ff2e93;
}

.fav-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.fav-content {
  background: white;
  padding: 20px;
  width: 380px;
  border-radius: 12px;
}

.fav-content h2 {
  margin-left: 10px;
}

.fav-item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.fav-item img {
  width: 50px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 12px;
}

.remove-fav {
  margin-left: auto;
  background: #ff3b3b;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

#openFavBtn {
  position: absolute;
  top: 440px;
  right: 20px;
  background: linear-gradient(217deg, #325ef1, #153bb0);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  z-index: 9999;
  /* ensures it's above everything */
}

#openFavBtn:hover {
    background: linear-gradient(280deg, #163086c7, #1a55f7c1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transform: scale(1.06)
}

.close-cross {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  color: #444;
  transition: 0.2s;
}

.close-cross:hover {
  color: #000;
  transform: scale(1.2);
}

.fav-content {
  position: relative;
}

.empty-msg {
  text-align: center;
  padding: 25px 10px;
  color: #666;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}

.cart-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(135deg, #ff9800, #ff5722);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
  width: 120px;
}

.cart-btn:hover {
  background: linear-gradient(135deg, #e9a94a, #fb3d03);
}

.book-card:hover .cart-btn {
  opacity: 1;
  pointer-events: auto;
  bottom: 10px;
}

#openCartBtn {
  position: absolute;
  top: 440px;
  right: 90px;
   background: linear-gradient(217deg, #325ef1, #153bb0);
  color: white;
  padding: 11px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

#openCartBtn:hover {
  background: linear-gradient(280deg, #163086c7, #1a55f7c1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transform: scale(1.06);

}

.popup-green,
.popup-red {
  position: fixed;
  top: 40px;
  right: 620px;
  padding: 12px 18px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  display: none;
  z-index: 10000;
}

.popup-green {
  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: white;
}

.popup-red {
  background: linear-gradient(135deg, #dc2626, #b91c1c);
  color: white;
}

.req-btn {
  background: linear-gradient(180deg, #1e40af, #1d4ed8);
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 6px;

  transition: 0.25s ease;

  transform: translateZ(0);
}

.req-btn:hover {
  transform: scale(1.06);

  background: linear-gradient(180deg, #162f82, #153bb0);
}

.remove-cart {
  border-radius: 4px;
  margin: 15px;
  background: linear-gradient(135deg, #ff9800, #ff5722);
  color: white;
  border: none;
  padding: 7px;

  transition: 0.25s ease;
  transform: translateZ(0);
}

.remove-cart:hover {
  transform: scale(1.06);
  background: linear-gradient(135deg, #e67c00, #e04616);
}

.modal-line {
  width: 100%;
  height: 1.5px;
  background: linear-gradient(90deg, #dcdcdc, #bebebe, #dcdcdc);
  margin: 10px 0 15px 0;
  border-radius: 2px;
}

#favList,
#cartList {
  max-height: 230px;

  overflow-y: auto;
  padding-right: 5px;
}

body.modal-open {
  overflow: hidden;
}

.modal-scroll::-webkit-scrollbar {
  width: 6px;
}
.modal-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #1e40af, #1d4ed8);
  border-radius: 6px;
}
